.order-section {
  background: url("../img/boardcover.png") center top ;
  background-color: rgb(0 0 0 / 50%);
  background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
   
    color: #fff; 
    height: 100vh;
    min-height: rem(650px);
}  